<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994470294378-0qittonb9pvmhb2snnjgg63q9dbcmodh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994470294378-0qittonb9pvmhb2snnjgg63q9dbcmodh</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ1jtUeU88CP4XZCwXAX5e4uWR-lZ4qa0</string>
	<key>GCM_SENDER_ID</key>
	<string>994470294378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifyRentshop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rentmotorcycle-notify</string>
	<key>STORAGE_BUCKET</key>
	<string>rentmotorcycle-notify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994470294378:ios:57fec41a20e51e0355ab13</string>
</dict>
</plist>